<div class="outer">
  <h1 style="text-align: center;">{{title}}</h1>
  <section>

    <label>Number 1</label>
    <label><input type="number" [(ngModel)]="num1"><br></label>
    <label>Number 2</label>
    <label><input type="number" [(ngModel)]="num2"><br></label>
    <label>Operation(+, -, * or /)</label>
    <label><input type="text" [(ngModel)]="sym"><br></label>

    <label><button (click)="calc()">Calculate</button></label>
    <label><h2>Your Answer : {{value}}</h2><h2 *ngIf="cnt!=0">{{value}}</h2></label>
  </section>
</div>
  <h2 *ngIf="cnt!=0">{{value}}</h2>
